@media (max-width: 600px) {

    .text{
        top:15%;
        width:100%;
    }

    .text h2{
        font-size:1.5rem;
    }

    .text h1{
        font-size: 2.5rem;
        margin-top: 3rem;
    }
}