.home{
    width:100vw;
    height: 90vh;
    position: relative;
}

.home img{
    width: 100%;
    height:100%;
    object-fit: cover;
    position: relative;
    z-index:-1;
}

.text{
    position: absolute;
    top:13%;
    box-sizing: border-box;
    padding:4rem;
    width:60%;
}

.line{
    width:100%;
    height:1.6px;
    background-image: linear-gradient(to right, rgb(183, 178, 178), black);
}

.text h2{
    font-size:clamp(1rem,3rem, 4rem);
    font-weight: 400;
    padding-bottom: 0;
    white-space: nowrap;
    margin-block-end: -2.5rem;
}

.text h3{
    font-size: 1.6rem;
    margin-block-end: -0.75rem;
    margin-block-start: 0.85rem;
}

.text h1{
    font-size:clamp(2rem, 4rem, 5rem);
    margin-block-end: 0.75rem;
}

.text p{
    letter-spacing: 0.05rem;
    line-height: 1.5rem;
    width:95%;
}
