

.home{
    width:100vw;
    height: 90vh;
    position: relative;
}

.home img{
    width: 100%;
    height:100%;
    object-fit: cover;
    position: relative;
    z-index:-1;
}

.text{
    position: absolute;
    top:13%;
    box-sizing: border-box;
    padding:4rem;
    width:60%;
}

.line{
    width:100%;
    height:1.6px;
    background-image: linear-gradient(to right, rgb(183, 178, 178), black);
}

.text h2{
    font-size:clamp(0.8rem,2.5rem, 3.2rem);
    font-weight: 400;
    padding-bottom: 0;
    white-space: nowrap;
    margin-block-end: -2.5rem;
}

.text h3{
    font-size: 1.2rem;
    margin-block-end: -0.75rem;
    margin-block-start: 0.85rem;
}

.text h1{
    font-size:clamp(1.5rem, 3rem,4rem);
    margin-block-end: 0.75rem;
}

.text p{
    letter-spacing: 0.05rem;
    line-height: 1.5rem;
    width:95%;
}

.text button{
    color: black;
    background-color: white;
    border-radius: 8rem;
    padding: 0.5rem 4rem;
    border: none;
    font-weight: bold;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text button:hover{
    color: white;
    background-color: black;
    border: 2px solid white;
    cursor:pointer;
}

.up-arrow{
    color:black; 
    width:24px; 
    height:24px;
}

.text button:hover .up-arrow{
    color:white;
}


