body{
    min-height: 100vh;
    background: black;
    font-family: Montserrat, sans-serif;
    color: white;
    margin:0;
    box-sizing: border-box;
}

::selection {
  background-color:  olivedrab;  
  color:black;    
}

::-moz-selection {
  background-color: olivedrab;
}

.home, .home2, .home3{
    position:sticky;
    top:0;
    width:100vw;
    height: 95vh;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:2rem;
    padding-inline-start: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    height: 10%;
    padding: 0 4rem;  
    position: fixed; /* CHANGE THIS FROM ABSOLUTE TO FIXED */
    top: 0;          /* Ensure it starts at the top */
    left: 0;
    z-index: 9999;  
    margin-top: 1rem;   /* Optional: removed margin-top for a cleaner stick */
    transition: background 0.3s ease; /* Optional: smooth bg change */
}

.logo{
    width:15%;
    height: auto;
    object-fit: cover;
    cursor:pointer;
}

.nav{
    background: rgba(39, 183, 53, 0.082);
    backdrop-filter: blur(8px);
    padding: 0 3rem;
    -webkit-backdrop-filter: blur(8px);
    border-radius: 5px;
    border: 1px solid rgba(106, 142, 35, 0.3);
    box-shadow: 
        0 8px 32px rgba(75, 149, 69, 0.1),
        inset 0 1px 0 rgba(51, 230, 31, 0.5),
        inset 0 -1px 0 rgba(6, 171, 9, 0.416),
        inset 0 0 0px 0px rgba(5, 212, 29, 0.081);
    position: relative;
    overflow: hidden;
    transition: 1s box-shadow;
}

.nav::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(62, 157, 15, 0.8),
    transparent
  );
}

.nav::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(22, 177, 5, 0.8),
    transparent,
    rgba(19, 128, 0, 0.355)
  );
}

.feh-shiny-button {
    position: relative;
    padding: 0.8rem 2rem;
    border-radius: 4rem;
    text-decoration: none;
    color:#fff;
    font-weight: 500;
    font-size: 1rem;
    background-image: linear-gradient(to left, rgb(3, 3, 3), rgb(17, 23, 5));
    transition: all 0.3s ease;
}

.feh-shiny-button:hover {
    background:black;
}

.feh-border-mask {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4rem;
    width: 100%;
    height: 100%;
    padding: 1px;
    mask:linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0) border-box;
    mask-composite: exclude;
    overflow: hidden;;
}

.feh-border-glow {
    background: conic-gradient(from 0deg,
        transparent 0%,
        #fff 10%,
        #000000 15%,
        transparent 20%
    );
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 500px;
    transform: translate(-50%,-50%);
    transform-origin: 0 0;
    animation: rotateShine 3s linear infinite;
}

@keyframes rotateShine{
    0%{
        transform: rotate(0deg) translate(-50%, -50%);
    }
    100%{
        transform: rotate(360deg) translate(-50%, -50%);
    }
}


.hover-underline {
  position: relative;
  display: inline-block;
}

.hover-underline:hover{
    cursor:pointer;
    transform: scale(1.05)
}

.hover-underline::after,
.hover-underline::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1.5px;
  background: linear-gradient(to right, white);
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease-out;
}

.hover-underline::before {
  
  transform-origin: left;
}

.hover-underline:hover::after,
.hover-underline:hover::before {
  transform: scaleX(1);
}


