
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0,0.95); 
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
  transition: opacity 0.8s ease, visibility 0.8s;
  pointer-events: auto;
  user-select: none;
}

.content-wrapper {
  transition: filter 0.8s ease;
  filter: blur(10px); 
}

.loader-hidden ~ .content-wrapper {
  filter: blur(0);
}

.loader-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

}

.loader-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 180px;
  font-family: "Inter", sans-serif;
  color: white;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  animation: loader-rotate 2s linear infinite;
}

@keyframes loader-rotate {
  0% {
    transform: rotate(90deg);
    box-shadow: 0 10px 20px 0 rgb(245, 244, 244) inset, 0 20px 30px 0 #3ffd00 inset, 0 60px 60px 0 #03351c inset;
  }
  50% {
    transform: rotate(270deg);
    box-shadow: 0 10px 20px 0 #000000 inset, 0 20px 10px 0 rgb(68, 188, 21) inset, 0 40px 60px 0 rgb(54, 81, 0) inset;
  }
  100% {
    transform: rotate(450deg);
    box-shadow: 0 10px 20px 0 rgb(198, 196, 196) inset, 0 20px 30px 0 olive inset, 0 60px 60px 0 green inset;
  }
}


.loader-letter {
  display: inline-block;
  opacity: 1;
  transform: translateY(0);
  animation: loader-letter-anim 2s infinite;
  z-index: 1000;
  border-radius: 50ch;
  font-family: "Montserrat", sans-serif;
  border: none;
}

.loader-letter:nth-child(1) {
  animation-delay: 0s;
}
.loader-letter:nth-child(2) {
  animation-delay: 0.1s;
}
.loader-letter:nth-child(3) {
  animation-delay: 0.2s;
}
.loader-letter:nth-child(4) {
  animation-delay: 0.3s;
}
.loader-letter:nth-child(5) {
  animation-delay: 0.4s;
}
.loader-letter:nth-child(6) {
  animation-delay: 0.5s;
}
.loader-letter:nth-child(7) {
  animation-delay: 0.6s;
}
.loader-letter:nth-child(8) {
  animation-delay: 0.7s;
}
.loader-letter:nth-child(9) {
  animation-delay: 0.8s;
}
.loader-letter:nth-child(10) {
  animation-delay: 0.9s;
}
.loader-letter:nth-child(11) {
  animation-delay: 1s;
}
.loader-letter:nth-child(12) {
  animation-delay: 1.1s;
}

@keyframes loader-letter-anim {
  0%,
  100% {
    opacity: 0.4;
    transform: translateY(0);
  }
  20% {
    opacity: 1;
    transform: scale(1.15);
  }
  40% {
    opacity: 0.7;
    transform: translateY(0);
  }
}
