.core-wrapper{
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom:3rem;
    
}

.core-wrap2{
    display:flex;
    justify-content: center;
    align-items: flex-end;
}

.core-wrapper h1{
    color:white;
    font-family: "Montserrat", sans-serif;
    font-size: 3rem;
    font-weight:bold;
    text-align: center;
}

.circle,.circle-copy{
    background-color: #539e1e95;
    border-radius: 50% 50% 0% 50%;
    height:18rem;
    position:relative;
    width:18rem;
    object-fit: cover;
    z-index:0;
    overflow: hidden;
}

.circle-copy{
    position: absolute;
    overflow: visible;
    left:-18rem;
    background-color: transparent;

}


.circle img{
    width:95%;
    height:95%;
    position: absolute;
    bottom: 0;
    right:0rem;
}

.circle2{
    border-radius: 50% 50% 50% 0%;
    height:8rem;
    width:8rem;
    background-color: #539e1e57;
    position:absolute;
    top:-4rem;
    right:-4rem;
    z-index:1;
    overflow:visible;
}

.core-text h3{
    font-size:1.3rem;
    margin: 0;
}

.core-text p{
    padding-bottom:2rem;
}

.core-text{
    display: flex;
    flex-direction: column;
    width:25%;
    justify-content:end;
    padding-left:2rem;
    position: relative;
}

.circle3{
    width:18rem;
    height:18rem;
    border-radius: 50%;
    position:absolute;
    bottom:-13rem;
    left:20rem;
    background-color: #83bc3d50;
    z-index:-1;
}

.circle4{
    position: absolute;
    width:9rem;
    height: 9rem;
    right:3rem;
    top:-10rem;
    border-radius:50%;
    background-color:#83bc3d25;
}