body{
    background-color: black;
    overflow-y: auto;
    padding:1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100vh;
    
}

::selection{
  background: olivedrab; 
  color: white; 
}

::-moz-selection{
  background: olivedrab; 
  color: white; 
} 

*{
    -webkit-tap-highlight-color: transparent;
}

.panel {
    position: relative;
    height: 100vh;
    width: 100%;
    will-change: transform;
    overflow: hidden;
}

.main-div1{
    background-image: url("./media/images/Untitled\ design2.png");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    height:100vh;
    width:100%;
    box-sizing: border-box;
    padding-top:2rem;
}


.main-div1,
.main-div2,
.main-div3,
.main-div4,
.main-div5 {
    min-height: 100vh;
    width: 100%;
    border-radius: 2rem;
    margin-bottom: 1rem;
    position: relative;
}


header{
    position:relative;
    z-index:10;
}

.header-div{
    height: clamp(2rem, 1rem+1.5dvh, 3rem);
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.header-center{
    background: rgba(106, 142, 35, 0.186);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.8px);
    -webkit-backdrop-filter: blur(2.8px);
    border: 1px solid rgba(107, 142, 35, 1);
    position: relative;
    overflow: hidden;
    width: 50vw;
    height: 8dvh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 2rem;
}



.header-center a{
    font-size: 1.1rem;
    text-wrap: nowrap;
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.header-center a:hover{
    transform: scale(1.1);
}

.logo img{
    width: 12dvw;
    max-width: 6rem;
    margin:0rem 4dvw 0rem 4dvw;
    transition: filter 0.5s ease;
}

.logo img:hover{
    filter: grayscale(2);
}

.logo img:active{
    filter: contrast(200%)
}

.connect{
    border: solid 0.1rem rgb(182, 182, 182);
    margin:0rem 4dvw 0rem 4dvw;
    border-radius: 4rem;
    background-color: transparent;
    padding: 1.5dvh 3vw 1.5dvh 3vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:bold;
    font-size: 1.1rem;
    color:white;
}

.connect:hover{
    cursor:pointer;
    background-color: olivedrab;
    color:white;
    border-color:white;
}

/*_______________________________________*/

.main-div2{
    background-color: olivedrab;

}


.main-div3{
    background-color: white;

}

.main-div4{
    background-color: rgb(249, 0, 0);
}


@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #4CB8B6;
  overflow: hidden;
}

.ball {
  position: absolute;
  width: 20vmin;
  height: 20vmin;
  border-radius: 50%;
  backface-visibility: hidden;
  animation: move linear infinite;
}

.ball:nth-child(odd) {
    color: #006D5B;
}

.ball:nth-child(even) {
    color: #FF6F61;
}

/* Using a custom attribute for variability */
.ball:nth-child(1) {
  top: 77%;
  left: 88%;
  animation-duration: 40s;
  animation-delay: -3s;
  transform-origin: 16vw -2vh;
  box-shadow: 40vmin 0 5.703076368487546vmin currentColor;
}
.ball:nth-child(2) {
  top: 42%;
  left: 2%;
  animation-duration: 53s;
  animation-delay: -29s;
  transform-origin: -19vw 21vh;
  box-shadow: -40vmin 0 5.17594621519026vmin currentColor;
}
.ball:nth-child(3) {
  top: 28%;
  left: 18%;
  animation-duration: 49s;
  animation-delay: -8s;
  transform-origin: -22vw 3vh;
  box-shadow: 40vmin 0 5.248179047256236vmin currentColor;
}
.ball:nth-child(4) {
  top: 50%;
  left: 79%;
  animation-duration: 26s;
  animation-delay: -21s;
  transform-origin: -17vw -6vh;
  box-shadow: 40vmin 0 5.279749632220298vmin currentColor;
}
.ball:nth-child(5) {
  top: 46%;
  left: 15%;
  animation-duration: 36s;
  animation-delay: -40s;
  transform-origin: 4vw 0vh;
  box-shadow: -40vmin 0 5.964309466052033vmin currentColor;
}
.ball:nth-child(6) {
  top: 77%;
  left: 16%;
  animation-duration: 31s;
  animation-delay: -10s;
  transform-origin: 18vw 4vh;
  box-shadow: 40vmin 0 5.178483653434181vmin currentColor;
}
.ball:nth-child(7) {
  top: 22%;
  left: 17%;
  animation-duration: 55s;
  animation-delay: -6s;
  transform-origin: 1vw -23vh;
  box-shadow: -40vmin 0 5.703026794398318vmin currentColor;
}
.ball:nth-child(8) {
  top: 41%;
  left: 47%;
  animation-duration: 43s;
  animation-delay: -28s;
  transform-origin: 25vw -3vh;
  box-shadow: 40vmin 0 5.196265905749415vmin currentColor;
}

/* Custome Cursor */

* {
  cursor: none;
}

.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  margin-left: -25px;
  margin-top: -25px;
  border-radius: 50%;
  background: white;
  pointer-events: none;
  mix-blend-mode: difference;
  z-index: 9999;
  transform: scale(0.3);
  opacity: 0;
  transition: transform 0.25s ease, opacity 0.25s ease;
}

.custom-cursor.active {
  opacity: 1;
}

.custom-cursor.link-hover {
  transform: scale(1);
}

.main-div3 {
    height: 100vh;
    width: 100%;
    transform: none !important;
}

.main-div1, .main-div2, .main-div3, .main-div4, .main-div5{
    position:sticky;
    top:0;
}

.main-div5{
    background: blue;
}
